## Ephermeral files
~$
*.py[co]
__pycache__/
*.profile
*.out
*.output
*_tmp

# profiling output files
profiles/


*.7z
*.tar.*

## Builds/Packaging
*.egg-info/
dist/
_build/
build/

## Local
/data/
venv*/
.python-version

# allow pre-generated test data
!/tests/data/

# Hg Legacy
/.hg/
/.hg*

# Scratch
Untitled*.ipynb
ipynb_checkpoints/

# Coverage
.coverage
coverage.xml
